{% extends 'base.html.twig' %}

{% block title %}
	Carte du département
{% endblock %}

{% block body %}

	<div class="container-fluid">
		<div class="chat-container row">

			<!-- Sidebar gauche : signets -->
			{# <aside class="sidebar col s3">
																																																							<h3>Signets Récents</h3>
																																																							<ul
																																																								id="signets-list" class="signets"><!-- Dynamique via JS -->
																																																							</ul>
																																																						</aside> #}

				<div
				class="col s12 main-container"> <!-- Zone centrale : carte -->
				<main class="main-content">
					<div id="carte-container">
						<div id="map"></div>
					</div>
				</main>

				<div id="bubble-container" class="s10 m5 l4">
					<div class="row"></div>
				</div>

				<!-- Footer : prompt -->
				<footer class="prompt-bar">
					<input type="text" id="prompt-input" class="s10 m5 l4" placeholder="Que recherchez-vous?"/>
					<button id="send-btn" title="Envoyer">
						<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" fill="currentColor">
							<path d="M13.0001 7.82843V20H11.0001V7.82843L5.63614 13.1924L4.22192 11.7782L12.0001 4L19.7783 11.7782L18.3641 13.1924L13.0001 7.82843Z"></path>
						</svg>
					</button>
				</footer>
			</div>
		</div>
	</div>

{% endblock %}
