{% extends 'base.html.twig' %}

{% block title %}
	Carte du département
{% endblock %}

{% block body %}

	<div classname="App">
		<h1>Carte du département</h1>
		<div id="map"></div>
	</div>

{% endblock %}
