{% extends 'base.html.twig' %}

{% block title %}
	Carte du département
{% endblock %}

{% block body %}

	<h1>Ma page avec carte</h1>
	<p>Du contenu avant...</p>

	<!-- Ta div wrapper -->
	<div id="carte-container">
		<div id="map"></div>
	</div>

	<p>Du contenu après...</p>

{% endblock %}
