@use './starter-complet';
@use './sidebar.scss';
@use './bubble-container.scss';

:root {
    --link-color: #007bff;
}

@keyframes gradientFlow {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

body {
    overflow: hidden;

    background: linear-gradient(135deg, #424242 0%, #2a2a2a 50%, #1a1a1a 100%);
    background-size: 200% 200%;
    animation: gradientFlow 10s ease infinite;
    /* Pour contraste avec le fond sombre */
    min-height: 100vh;
    /* Assure que le fond couvre toute la hauteur */
    margin: 0;
    /* Supprime les marges par défaut */

}

html,
body {
    height: 90vh;
    padding: 0;

    & .container-fluid {
        padding: 0;
    }
}

h3,
h4 {
    font-weight: initial;
}

[href] {
    color: var(--link-color) !important;
}

#carte-container {
    // height: 60%;
    // width: 100%;
    position: relative;
}

#map {
    height: 100%;
    width: 100%;
}

.chat-container {
    border: 1px solid var(--grey-5);
    height: 100vh;
    overflow: hidden;
    background: var(--grey-9);
}

.surveillance {
    background: #fff3cd;
}

.main-container {
    padding: 0;
    min-width: 100%;
    max-width: 100%;
}

/* Badge jaune pour surveillance */
.main-content {
    height: 90vh;
    position: relative;
}

#carte-container {
    height: 100%;
    width: 100%;
}

#map {
    height: 100%;
    width: 100%;
}

.prompt-bar {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    min-height: 8vh;
    max-height: 8vh;
    background-color: var(--grey-9);

    & img {
        position: absolute;
        bottom: -8px;
        left: 8px;
        height: 8vh;
        min-width: 8vh;
        max-width: 8vh;
    }

    &:after {
        content: "\0000A9 \0000A0 SOLC Saint-Claude / DSOLC Baie-Mahault";
        color: #dedede;
        display: block;
        width: 100%;
        height: 100px;
        position: absolute;
        left: 10vh;
        bottom: -9vh;
        font-size: 14px;
    }
}

#prompt-input {
    margin-left: calc((100% / 12) * 2);
    // width: 40%;
    padding: 10px 40px 10px 15px;
    /* Espace à droite pour le bouton */
    border-radius: 50px;
    border: 1px solid #ccc;
    font-size: 16px;
    box-sizing: border-box;
    height: 6vh;
    font-style: italic;
}

#send-btn {
    position: absolute;
    right: 10px;
    /* Position à l'intérieur de l'input */
    top: 50%;
    transform: translateY(-50%);
    padding: 6px 12px;
    /* Plus petit que l'input */
    border-radius: 50px;
    border: none;
    // background-color: #007bff;
    background-color: var(--grey-7);
    color: var(--grey-3);
    font-size: 14px;
    /* Légèrement plus petit */
    cursor: pointer;
    height: 5.5vh;
    width: 5.5vh;
    margin-right: .25vh;

    & table thead th,
    & table tbody td {
        font-size: 6px;
    }
}

#send-btn:hover {
    // background-color: #0056b3;
    background-color: var(--grey-9);
    color: var(--grey-0);
}

@-webkit-keyframes fadeinout {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fadeinout {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@media all and (min-width: 640px) {
    #prompt-input {
        margin-left: 60%;
    }
}

@media all and (min-width: 992px) {
    #prompt-input {
        margin-left: calc((100% / 12) * 8);
    }
}

@media all and (min-width: 1170px) {
    #bubble-container {
        width: 25%;
        max-width: 25%;
    }

    #prompt-input {
        margin-left: 75%;
        width: 25%;
    }
}